.container {
  width: 100%;
}

.display {
  min-height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background-color: var(--gray-300);
  box-shadow: var(--shadow);
  border-radius: .2rem;

  p, span {
    font-size: 1.5rem;
    color: var(--gray-900);
  }

  p {
    margin-bottom: 1.5rem;
  }
}

.meanings {
  margin: 1rem 0;

  h2 {
    margin: 2rem 0 1.5rem 0;
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 0.4rem;
    }
  }

  p b {
    text-decoration: underline;
  }
}

.headerMeanings {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    border: none;
    background: transparent;

    svg{
      font-size: 2rem;
    }

    &:hover {
      svg {
        color: var(--red) !important;
      }
    }
  }
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;

  button {
    padding: 0.6rem 0;
    font-size: 1.2rem;
    width: 100%;
    background-color: var(--red);
    border: none;
    color: var(--white);
    font-weight: 500;
    border-radius: .2rem;
    transition: all .2s ease-in-out;

    &:hover {
      filter: brightness(0.9);
    }
  }
}